.transferfunds {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .transferfund_container {
    width: 80%;
    height: 100%;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    input {
      width: 80%;
      height: 30px;
      margin-bottom: 35px;
      padding: 3px 10px;
      border: 1px solid black;
      border-radius: 8px;

      &:focus {
        outline: 1px solid #c5c5c5;
      }
    }
    label {
      align-self: flex-start;
      margin-top: 10px;
      color: #000;
      font-weight: 600;
      font-size: 18px;
      margin-left: 40px;
    }
    button {
      width: 20%;
      background-color: #126bc5;
      color: #fff;
      font-weight: bold;
      margin: 0 10px;
      padding: 5px 10px;
      height: 40px;
      &:hover {
        background-color: #ffffff;
        color: #000;
        border: 1px solid #000;
      }
    }
  }
}
